* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #343a40;
}
nav ul {
    list-style-type: none;
    overflow: hidden;
    display:  flex;
    flex-wrap: wrap;

}
nav ul li {
    width: 15%;
}

nav ul li a {
    padding: 20px;
    text-align: center;
    display: block;
    color: #ffffff;
    text-decoration: none;

}

nav ul li a:hover {
    background-color: #aaaaaa;
}

@media screen and (max-width: 600px) {
    nav ul li {
        width: 100%;
    }
}
button {
    background-color: #603d3d;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

}
.Upbotton {
    width : 35px;
    height: 35px;
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: inline flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 10px;
}